.DS_Store
node_modules/
ehthumbs.db
Thumbs.db
.npm
.idea/
.vscode/
package-lock.json
yarn.lock
.sass-cache
.prettierignore
*.zip
assets/js/blocks.min.js
assets/js/blocks.min.js.map
assets/js/crowdfunding-front.min.js
assets/js/crowdfunding.min.js
assets/js/mce-button.min.js

assets/js/campaign-form.js
assets/js/campaign-form.js.map
assets/css/campaign-form.css