.wpcf-accordion-wrapper{
	.wpcf-accordion{
		margin-bottom: 15px;
		border-radius: 4px;
		overflow: hidden;
		.wpcf-accordion-title{
			padding: 20px 30px;
			background: #F5F5FA;
			font-size: 16px;
			font-weight: 500;
			&.active{
				color: #fff;
				background: var(--wpcf-heading-color);
			}
		}
		.wpcf-accordion-details{
			border: 1px solid var(--wpcf-border-color);
			padding: 30px;
		}
	}
}
