.wpcf-form-group{
	max-width: 400px;
	&:not(:last-child){
		margin-bottom: 30px;
	}
	&.wpcf-radio-group-alt{
		margin-bottom: 15px;
	}
	label:not(.wpcf-radio-inline){
		font-size: 14px;
		color: var(--wpcf-heading-color);
		line-height: 19px;
		display: block;
		margin: 0 0 4px;
	}
	p{
		font-size: 12px;
		line-height: 16px;
		color: var(--wpcf-light-text-color);
		margin: 0 0 12px;
	}
	input[type="text"]:not(.ui-slider),
	input[type="number"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="date"],
	input[type="time"],
	input[type="tel"],
	input[type="url"],
	input[type="week"],
	.wpcf-input,
	textarea,
	select{
		border: 1px solid var(--wpcf-border-color);
		padding: 0 15px;
		border-radius: 4px;
		transition: 300ms;
		height: 35px;
		line-height: 35px;
		width: 100%;
		&:focus{
			border-color: var(--wpcf-primary-color);
		}
	}
	
	textarea{
		height: 160px;
		resize: none;
		line-height: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&.wpcf-estimate-delivery,
	&.wpcf-target-date{
		.form-group{
			display: flex;
			flex-wrap: wrap;
			margin-left: -3.5px;
			margin-right: -3.5px;
			.wpcf-input-col,
			.wpcf-date-picker{
				width: calc(50% - 7px);
				margin-left: 3.5px;
				margin-right: 3.5px;
				label{
					color: var(--wpcf-primary-text-color);
				}
			}
		}
	}
}

.ui-datepicker{
	z-index: 2 !important;
}


.wpcf-inline-radio-group:not(.wpcf-radio-group-alt){
	display: flex;
	margin-left: -7px;
	flex-wrap: wrap;
	margin-top: -8px;
	.wpcf-radio-inline:not(.wpcf-radio-alt){
		padding: 10px 15px;
		margin: 8px 0 0 7px;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		cursor: pointer;
		input{
			margin: 0 8px 0 0;
			position: static;
			-webkit-appearance: none;
			height: 15px;
			width: 15px;
			border: 1px solid #DCDCE4;
			border-radius: 50%;
			&:checked{
				border-color: var(--wpcf-success-color);
			}
			&:focus{
				outline: none;
			}
			&::after{
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				border: 1px solid var(--wpcf-border-color);
				border-radius: 6px;
				transition: 200ms;
			}
			&:checked::after{
				border-color: var(--wpcf-primary-color);
			}
		}
		div,
		small{
			width: 100%;
			flex-basis: 100%;
		}
		
		small{
			padding-left: 23px;
			font-size: 12px;
			color: var(--wpcf-light-text-color);
			display: block;
			line-height: 12px;
			margin-top: 5px;
		}
		
		.wpcf-radio-inner{
			display: flex;
			align-items: center;
			line-height: 18px;
		}
	}
}

.wpcf-inline-radio-group.wpcf-radio-group-alt{
	margin-top: -10px;
	margin-left: -20px;
}
.wpcf-radio-alt{
	margin: 10px 0 0 20px;
	.wpcf-radio-inner{
		display: inline-flex;
		align-items: center;
		input{
			margin: 0 8px 0 0;
		}
	}
}


.wpcf-input-tags-btns{
	margin-top: 13px;
	margin-left: -5px;
	button{
		line-height: 30px;
		padding: 0 15px;
		color: var(--wpcf-warning-color);
		background: #FDF1E7;
		border: none;
		border-radius: 30px;
		margin-left: 5px;
		text-transform: capitalize;
		margin-top: 7px;
	}
	&.top-btns{
		margin-top: -5px;
		margin-bottom: 20px;
		button{
			color: var(--wpcf-success-color);
			background: #e9fde6;
		}
	}
}

.wpcf-input-tags-more,
.wpcf-input-tags-less{
	margin-top: 20px;
	padding: 0;
	border: none;
	background: none;
	color: var(--wpcf-primary-color);
}

//.wpcf-repeatable-parent

.wpcf-repeatable-parent{
	margin-bottom: 15px;
	position: relative;
	.wpcf-repeatable-close{
		opacity: 0;
		position: absolute;
		right: 1px;
		top: 1px;
		height: 33px;
		line-height: 33px;
		width: 35px;
		text-align: center;
		cursor: pointer;
		color: var(--wpcf-primary-text-color);
		transition: 300ms;
		background: #ffffff;
		border-radius: 4px;
		&:hover{
			color: var(--wpcf-danger-color);
		}
	}
	&:hover .wpcf-repeatable-close{
		opacity: 1;
	}
}


// .wpcf-range-picker

.wpcf-range-picker{
	background: #DCDCE4;
	height: 6px;
	position: relative;
	cursor: pointer;
	.ui-slider-range{
		background: var(--wpcf-success-color);
	}
	.ui-slider-handle{
		background: #fff;
		border: 3px solid var(--wpcf-success-color);
		height: 18px;
		width: 18px;
		border-radius: 50%;
		top: 50%;
		margin-top: -9px;
		margin-left: -4px;
		cursor: pointer;
		&.ui-state-active{
			background: var(--wpcf-success-color);
		}
		&.ui-state-focus{
			outline: none;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
	}
}

.wpcf-form-group .range-picker-parent{
	display: flex;
	align-items: center;
	.wpcf-range-picker{
		flex-grow: 1;
		margin-right: 15px;
	}
	.range-picker-value{
		position: relative;
		display: inline-flex;
		&:not(.wpcf-single)::after{
			content: '-';
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%) translateX(-3px);
			margin-top: -2px;
		}
		input{
			padding: 0 3px 0 6px;
			border-radius: 0;
			border: 1px solid var(--wpcf-success-color);
			border-right: 0;
			width: 50px;
			&:first-child{
				border-radius: 4px 0 0 4px;
			}
			+ input{
				border-left: 0;
			}
			&:focus{
				border-color: var(--wpcf-success-color);
			}
		}
		span{
			line-height: 35px;
			height: 35px;
			padding: 0 10px;
			border: 1px solid var(--wpcf-success-color);
			color: var(--wpcf-success-color);
			border-radius: 0 4px 4px 0;
		}
	}
}
