.wpcf-form-group{
	max-width: 400px;
	&:not(:last-child){
		margin-bottom: 30px;
	}
	label:not(.wpcf-radio-inline){
		font-size: 14px;
		color: var(--wpcf-heading-color);
		line-height: 19px;
		display: block;
		margin: 0 0 4px;
	}
	p{
		font-size: 12px;
		line-height: 16px;
		color: var(--wpcf-light-text-color);
		margin: 0 0 12px;
	}
	input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
	.wpcf-input,
	textarea,
	select{
		border: 1px solid var(--wpcf-border-color);
		padding: 0 15px;
		border-radius: 4px;
		transition: 300ms;
		height: 35px;
		line-height: 35px;
		width: 100%;
		&:focus{
			border-color: var(--wpcf-primary-color);
		}
	}
	
	textarea{
		height: 160px;
		resize: none;
		line-height: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.wpcf-inline-radio-group{
	display: flex;
	margin-left: -7px;
	flex-wrap: wrap;
	.wpcf-radio-inline{
		display: inline-flex;
		padding: 10px 15px;
		margin: 0 0 0 7px;
		align-items: center;
		position: relative;
		cursor: pointer;
		flex-wrap: wrap;
		input{
			margin: 0 8px 0 0;
			&::after{
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				border: 1px solid var(--wpcf-border-color);
				border-radius: 6px;
				transition: 200ms;
			}
			&:checked::after{
				border-color: var(--wpcf-primary-color);
			}
		}
	}
}

.wpcf-input-tags-btns{
	margin-top: 13px;
	margin-left: -5px;
	button{
		line-height: 30px;
		padding: 0 15px;
		color: var(--wpcf-warning-color);
		background: #FDF1E7;
		border: none;
		border-radius: 30px;
		margin-left: 5px;
		text-transform: capitalize;
		margin-top: 7px;
	}
	&.top-btns{
		margin-top: -5px;
		margin-bottom: 20px;
		button{
			color: var(--wpcf-success-color);
			background: #e9fde6;
		}
	}
}

.wpcf-input-tags-more,
.wpcf-input-tags-less{
	margin-top: 20px;
	padding: 0;
	border: none;
	background: none;
	color: var(--wpcf-primary-color);
}

//.wpcf-repeatable-parent

.wpcf-repeatable-parent{
	margin-bottom: 20px;
}
