.wpcf-story-values {
	.wpcf-story-item {
		border: 1px dashed #DCDCE4;
		padding: 19px 9px 9px;
		margin-bottom: 32px;
		position: relative;
		.story-item-control{
			position: absolute;
			right: 10px;
			top: 0;
			transform: translateY(-50%);
			button{
				height: 25px;
				width: 25px;
				background: #fff;
				border: 1px solid var(--wpcf-border-color);
				margin: 0 2px;
				border-radius: 50%;
				font-size: 12px;
				line-height: 23px;
				color: var(--wpcf-primary-color);
				transition: 300ms;
				text-align: center;
				&:hover{
					border-color: var(--wpcf-primary-color);
				}
				&.wpcf-danger{
					color: var(--wpcf-danger-color);
					&:hover{
						border-color: var(--wpcf-danger-color);
					}
				}
				&[disabled]:hover,
				&[disabled]{
					border-color: var(--wpcf-border-color);
					color: var(--wpcf-light-text-color);
				}
			}
		}
	}
}

.story-item-value{
	display: flex;
	flex-wrap: wrap;
	.wpcf-story-column{
		flex-grow: 1;
		&.wpcf-story-column-1{
			flex-basis: 100%;
			max-width: 100%;
		}
		&.wpcf-story-column-2{
			flex-basis: 50%;
			max-width: 50%;
		}
		.story-item-image{
			height: 100%;
			background: var(--wpcf-border-color);
		}
	}
}
