.wpcf-story-tools{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-bottom: 10px;
	.wpcf-story-tool-item{
		margin-left: 10px;
		margin-bottom: 30px;
		width: calc(25% - 10px);
		background: #F5F5FA;
		border: 1px dashed var(--wpcf-border-color);
		border-radius: 4px;
		padding: 14px 10px;
		text-align: center;
		position: relative;
		p{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		span.wpcf-story-add{
			position: absolute;
			font-size: 9px;
			height: 25px;
			width: 25px;
			line-height: 23px;
			bottom: 0;
			left: 50%;
			background: #fff;
			border-radius: 50%;
			border: 1px solid var(--wpcf-border-color);
			transform: translate(-50%, 50%);
			cursor: pointer;
			color: var(--wpcf-primary-color);
			&:hover{
				border-color: var(--wpcf-primary-color);
			}
		}
	}
}
