.wpcf-form-main {
    width: 635px;
    float: left;
}
.wpcf-form-tab {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dcdce4;
    margin-bottom: 25px;
    .wpcf-tab-title {
        width: 25%;
        text-align: center;
        padding: 25px;
        padding: 20px;
        &.active {
            border-bottom: 2px solid #19af47;
        }
    }
}
.wpcf-accordion-wrapper {
    widows: 100%;
    background-color: #ffffff;
    .wpcf-accordion {
        margin-bottom: 15px;
        .wpcf-accordion-title {
            padding: 15px 25px;
            font-size: 16px;
            color: #25265e;
            background-color: #f5f5fa;
            text-transform: capitalize;
            border: solid 1px #dcdce4;
            border-radius: 4px 4px 0 0;
            &.active {
                color: #fff;
                border: 0;
                background-color: #070839;
            }
        }
        .wpcf-accordion-details {
            padding: 15px 25px;
            border: solid 1px #dcdce4;
            border-radius: 0 0 4px 4px;
        }
    }
}
.wpcf-form-sidebar {
    width: 445px;
    border-radius: 4px;
    border: solid 1px #dcdce4;
    background-color: #ffffff;
    float: left;
    .preview-title {
        padding: 15px;
        background: #ddd;
        font-size: 16px;
        color: #535a82
    }
    .preview-media {
        .main-view img, .main-view video {
            max-width: 100%;
        };
        .thumbnails-view img {
            max-width: 80px;
        };
    }
}

/* SECTION STORY */
.tox-notifications-container {
    display: none !important;
}
.mce-content-body {
    min-height: 120px;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #dcdce4;
}
.wpcf-story-tools {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    .story-tool-item {
        width: calc(25% - 20px);
        background-color: #f5f5fa;
        border: solid 1px #dcdce4;
        border-radius: 4px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
.wpcf-story-values {
    width: 100%;
    .wpcf-story-item {
        padding: 10px;
        border-radius: 4px;
        border: dotted 1px #dcdce4;
        margin-bottom: 25px;
        position: relative;
        .story-item-control {
            top: -15px;
            right: 15px;
            position: absolute;
            span {
                height: 50px;
                width: 50px;
                padding: 5px 10px;
                border-radius: 50%;
                background: #fff;
                margin-left: 5px;
                border: solid 1px #dcdce4;
                font-size: 14px;
                &.item-move-disable {
                    opacity: 0.5;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }
        .story-item-swap-control {
            top: 40%;
            right: 27%;
            position: absolute;
            text-align: center;
            span {
                height: 50px;
                width: 50px;
                padding: 5px 10px;
                border-radius: 50%;
                background: #fff;
                margin-left: 5px;
                border: solid 1px #dcdce4;
                font-size: 14px;
                cursor: move;
            }
        }
        .story-item-image {
            text-align: center;
            line-height: 120px;
            background-color: #f5f5fa;
            cursor: pointer;
            img, video, iframe {
                max-width: 100%;
            }
        }
        .story-item-embeded_file {
            textarea {
                width: 100%;
                min-height: 120px;
                border: 1px solid #eee;
            }
        }
        .story-item-multiple {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            div {
                width: calc(50% - 20px);
                margin-left: 20px;
            }
        }
    }
}
.preview-story {
    width: 100%;
    padding: 25px;
    img, video, iframe {
        max-width: 100%;
    }
    .story-item-multiple {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        div {
            width: calc(50% - 20px);
            margin-left: 20px;
        }
    }
}


/* SECTION REWARD */
.wpcf-reward-type {
    display: inline-block;
    border: solid 1px #dcdce4;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    cursor: pointer;
    &.active {
        border: 1px solid green;
    }
}
.wpcf-rewards {
    padding: 25px;
    border-radius: 4px;
    border: solid 1px #dcdce4;
    background-color: #ffffff;
    margin-bottom: 25px;
    .wpcf-reward-item {
        display: inline-block;
        border: solid 1px #3060c5;
        border-radius: 4px;
        margin-right: 15px;
        padding: 15px;
        cursor: pointer;
    }
}
.wpcf-preview-reward {
    width: 100%;
    .reward-thumb {
        width: 285px;
        height: 496px;
        margin: 30px;
        padding: 5px;
        border-radius: 4px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: solid 1px #dcdce4;
        background-color: #ffffff;
        .reward-img {
            width: 100%;
            height: auto;
            border-radius: 4px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: #f5f5fa;
            text-align: center;
            span {
                height: 180px;
                line-height: 180px;
            };
            img {
                width: 100%;
                height: auto;
            };
        }
    }
}

/* SECTION TEAM */
.wpcf-team-members {
    padding: 25px;
    border-radius: 4px;
    border: solid 1px #dcdce4;
    background-color: #ffffff;
    margin-bottom: 25px;
}