.wpcf-form-main {
    width: 635px;
    float: left;
}
.wpcf-accordion-title {
    padding: 15px;
    border-radius: 4px;
    border: solid 1px #dcdce4;
    background-color: #f5f5fa;
    text-transform: capitalize;
    font-size: 16px;
    color: #25265e;
    &.active {
        color: #fff;
        background-color: #070839;
    }
}
.wpcf-form-sidebar {
    width: 445px;
    border-radius: 4px;
    border: solid 1px #dcdce4;
    background-color: #ffffff;
    float: left;
    .preview-title {
        padding: 15px;
        background: #ddd;
        font-size: 16px;
        color: #535a82
    }
    .preview-media {
        .main-view img, .main-view video {
            max-width: 100%;
        };
        .thumbnails-view img {
            max-width: 80px;
        };
    }
}

/* SECTION STORY */
.wpcf-story-tools {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    .story-tool-item {
        width: calc(25% - 20px);
        background-color: #f5f5fa;
        border: solid 1px #dcdce4;
        border-radius: 4px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}


/* SECTION REWARD */
.wpcf-reward-type {
    display: inline-block;
    border: solid 1px #dcdce4;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    cursor: pointer;
    &.active {
        border: 1px solid green;
    }
}
.wpcf-reward-item {
    display: inline-block;
    border: solid 1px #3060c5;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    cursor: pointer;
}

.wpcf-preview-reward {
    width: 100%;
    .reward-thumb {
        width: 285px;
        height: 496px;
        margin: 30px;
        padding: 5px;
        border-radius: 4px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: solid 1px #dcdce4;
        background-color: #ffffff;
        .reward-img {
            width: 100%;
            height: auto;
            border-radius: 4px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: #f5f5fa;
            text-align: center;
            span {
                height: 180px;
                line-height: 180px;
            };
            img {
                width: 100%;
                height: auto;
            };
        }
    }
}