.wpcf-campaign-intro-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    > * {
        flex: 1 0 21%;
        margin: 10px;
    }
    &:not(:empty) {
        margin-top: 10px;
    }
}