.wpcf-button-primary,
.wpcf-button-secondary,
.wpcf-button-danger,
.wpcf-button-outline,
.wpcf-button-outline-inverse
 {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wpcf-button-primary {
    background-color: $primary-color;
    color: $white;
    border-color: $primary-color;
}

.wpcf-button-secondary {
    background-color: $secondary-color;
    color: $dark-color;
    border-color: $secondary-color;
}

.wpcf-button-danger {
    background-color: $danger-color;
    color: $white;
    border-color: $danger-color;
}

.wpcf-button-outline {
    border-color: $primary-color;
    color: $primary-color;
}

.wpcf-button-outline-inverse {
    border-color: $white;
    color: $white;

    &:hover {
        background-color: $white;
        border-color: $white;
        color: $primary-color;
    }
}