.wpcf-card {
    background-color: $white;
    border: 1px solid $border-color;
    padding: 20px;
    border-radius: 6px;
    position: relative;

    .wpcf-card-thumbnail {
        margin: -20px -20px 0px -20px;
        border-radius: 6px 6px 0 0;
        position: relative;

        img {
            width: 100%;
            height: auto;
            border-radius: 6px 6px 0 0;
        }

        .wpcf-card-overlay {
            border-radius: 6px 6px 0 0;
        }
    }

    .wpcf-card-body {
        padding-top: 20px;
    }

    .wpcf-card-divider {
        margin: 20px -20px;
        display: block;
        height: 1px;
        background-color: $border-color;
    }

    .wpcf-card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade-out($primary-color, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        opacity: 0;
        transition: opacity .15s ease-in-out;
    }

    &:hover {
        .wpcf-card-overlay {
            opacity: 1;
        }
    }
}

.wpcf-card + .wpcf-card {
    margin-top: 20px;
}