.wpcf-nav {
    list-style: none;
    padding: 0;
    margin: -8px -16px;
    display: flex;
    flex-direction: row;

    >li {
        position: relative;
        margin: 0;

        > a {
            color: $text-muted;
            display: block;
            padding: 8px 16px;
            line-height: 1.2;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

            &:hover,
            &.wpcf-is-active {
                text-decoration: none;
                color: $primary-color;
            }
        }

        &.wpcf-is-parent {
            > a {
                position: relative;
                &::after {
                    content: " ";
                    display: inline-block;
                    margin-left: 4px;
                    vertical-align: 4px;
                    border-top: 4.8px solid;
                    border-right: 4.8px solid transparent;
                    border-bottom: 0;
                    border-left: 4.8px solid transparent;
                }
            }
        }

        > ul {
            position: absolute;
            top: 100%;
            left: 0px;
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 180px;
            padding: 20px;
            background-color: $white;
            border: 1px solid $border-color;
            border-radius: 4px;
            >li {
                > a {
                    color: $text-muted;
                }
            }
        }

        &:hover {
            > ul {
                display: block;
            }
        }
    }
}

// tabs
.wpcf-tab-pane {
    &:not(.wpcf-is-active) {
        display: none;
    }
}