$text-color:        #16192C !default;
$text-light-color:  #425466 !default;
$white:             #FFFFFF !default;
$gray-200:          #EBF5F5 !default;
$gray-300:          #E2E8F0 !default;
$gray-600:          #808896 !default;
$text-muted:        #838C9A !default;
$primary-color:     #007D68 !default;
$secondary-color:   #E4F7F4 !default;
$dark-color:        #505780 !default;
$danger-color:      #F16063 !default;
$border-color:      #E5EBEA !default;


// breakpoints
$columns:  12 !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;