.wpcf-btn-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    .wpcf-btn{
        margin-top: 10px;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}
.wpcf-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    font-size: 16px;
    position: relative;
    transition: 300ms;
    .icon-left{
        margin-right: 6px;
    }
    &:not(.wpcf-link-btn){
        line-height: 26px;
        height: 40px;
        padding: 0 25px;
        background: var(--wpcf-primary-color);
        border: 1px solid var(--wpcf-primary-color);
        color: #fff;
    }
    &.wpcf-btn-sm{
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 17px;
        height: 35px;
    }
    
    &.wpcf-btn-secondary{
        background-color: var(--wpcf-primary-text-color);
        border-color: var(--wpcf-primary-text-color);
        color: #ffffff;
    }
    
    &.wpcf-success-btn,
    &.wpcf-btn-success{
        background-color: var(--wpcf-success-color);
        border-color: var(--wpcf-success-color);
        color: #ffffff;
    }
    
    &.wpcf-link-btn{
        color: var(--wpcf-primary-color);
        padding: 0;
        background: none;
        border: none;
    }
    
    &.wpcf-btn-outline{
        background: transparent;
        border: 1px solid var(--wpcf-primary-color);
        color: var(--wpcf-primary-color);
        &:hover{
            background-color: var(--wpcf-primary-color);
            color: #ffffff;
        }
        &.wpcf-btn-success,
        &.wpcf-success-btn{
            color: var(--wpcf-success-color);
            border-color: var(--wpcf-success-color);
            &:hover{
                background-color: var(--wpcf-success-color);
                color: #ffffff;
            }
        }
        &.wpcf-btn-secondary{
            border-color: var(--wpcf-border-color);
            background: #ffffff;
            color: var(--wpcf-primary-text-color);
            &.active,
            &:hover{
                border-color: var(--wpcf-primary-color);
                color: var(--wpcf-primary-color);
            }
        }
    }
    
    &.wpcf-btn-round{
        border-radius: 30px;
    }
    .wpcf-icon:not(.wpcf-icon-right){
        margin-right: 12px;
    }
    .wpcf-icon-right{
        margin-left: 12px;
    }
}

.wpcf-btn-group{
    margin-top: -10px;
    margin-left: -10px;
    button,
    .wpcf-btn{
        margin-top: 10px;
        margin-left: 10px;
    }
}
