:root{
	--wpcf-font-family: 'Roboto', sans-serif;
    --wpcf-primary-text-color: #787993;
    --wpcf-light-text-color: #ADAECF;
    --wpcf-primary-color: #3060c5;
    --wpcf-heading-color: #25265e;
    --wpcf-border-color: #dcdce4;
    --wpcf-success-color: #00A92F;
}

$sidebar_width: 255px;


#wpcf-dashboard{
    font-family: var(--wpcf-font-family);
    color: var(--wpcf-primary-text-color);
}

.wpcf-dashboard-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.wpcf-dashboard-sidebar{
    flex: 0 0 $sidebar_width;
    max-width: $sidebar_width;
}

.wpcf-dashboard-content{
    flex: 1 0 calc(100% - #{$sidebar_width});
    max-width: calc(100% - #{$sidebar_width});
    padding-left: 30px;
    padding-top: 30px;
}
