.wpcf-form-group{
	display: flex;
	@include media(xs){
		flex-wrap: wrap;
	}
	@include media(md){
		flex-wrap: wrap;
	}
	&:not(:last-child){
		margin-bottom: 15px;
	}
	label{
		flex-grow: 1;
		flex-basis: 180px;
		max-width: 180px;
		font-size: 14px;
		color: var(--wpcf-heading-color);
		@include media(xs){
			flex-basis: 100%;
			max-width: 100%;
			margin-bottom: 8px;
		}
		@include media(md){
			flex-basis: 100%;
			max-width: 100%;
			margin-bottom: 8px;
		}
	}
	input:not([type="submit"]),
	.wpcf-input,
	textarea,
	select{
		flex-grow: 1;
		max-width: 375px;
		flex-basis: 375px;
		border: 1px solid var(--wpcf-border-color);
		padding: 0 15px;
		border-radius: 4px;
		transition: 300ms;
		height: 35px;
		line-height: 35px;
		&:focus{
			border-color: var(--wpcf-primary-color);
		}
	}
	
	textarea{
		height: 160px;
		resize: none;
		line-height: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	
}
