.wpcf-pledge-received-cards{
	display: flex;
	padding: 30px;
	background: var(--wpcf-success-color);
	color: #fff;
	min-height: 130px;
	align-items: center;
	border-radius: 4px;
	margin-bottom: 30px;
	.wpcf-pledge-received-card{
		h4{
			font-size: 32px;
			line-height: 43px;
			color: #ffffff;
			margin: 0;
		}
		&:not(:last-child){
			margin-right: 60px;
		}
		span{
			font-size: 16px;
		}
	}
}
