.wpcf-reward-item{
	display: flex;
	border: 1px solid var(--wpcf-border-color);
	padding: 30px;
	align-items: center;
	flex-wrap: wrap;
	&:not(:last-child){
		margin-bottom: 30px;
	}
	.wpcf-reward-thumbnail{
		max-width: 190px;
		flex-basis: 190px;
		flex-grow: 1;
		border: 1px solid #f7f7f7;
		img{
			display: block;
		}
	}
	.wpcf-reward-content{
		flex-grow: 1;
		flex-basis: calc(100% - 210px);
		max-width: calc(100% - 210px);
		display: flex;
		flex-wrap: wrap;
		.wpcf-reward-content-left{
			padding-left: 20px;
			flex-basis: 100%;
			max-width: 100%;
			h5{
				font-size: 16px;
				font-weight: 400;
				color: var(--wpcf-heading-color);
			}
		}
		&.has-timer .wpcf-reward-content-left{
			flex-basis: calc(100% - 260px);
			max-width: calc(100% - 260px);
			@include media(xs_lg){
				max-width: 100%;
				flex-basis: 100%;
			}
		}
		.wpcf-reward-content-right{
			margin-left: auto;
			@include media(xs_lg){
				margin-left: 0;
				margin-top: 20px;
			}
		}
		.wpcf-showmore:not(.wpcf-expand) .wpcf-reward-content-inner{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.wpcf-showmore span[tabindex]{
			font-size: 12px;
			color: var(--wpcf-primary-color);
		}
	}
	
	.wpcf-reward-date{
		font-size: 12px;
		h6{
			font-size: 18px;
			color: var(--wpcf-primary-color);
			margin: 20px 0 4px;
			font-weight: 500;
		}
	}
	
	.wpcf-reward-perks-wrap{
		flex-grow: 0;
		flex-basis: auto;
		margin-left: auto;
		padding-left: 20px;
		h5{
			font-weight: 400;
			font-size: 14px;
			color: var(--wpcf-primary-text-color);
			margin: 0 0 16px;
		}
		.wpcf-reward-perks{
			display: flex;
			.wpcf-reward-perk-item{
				margin: 0 20px;
				position: relative;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				h6{
					position: relative;
					font-size: 16px;
					padding: 5px;
					color: var(--wpcf-primary-color);
					background: #f2f6ff;
					min-width: 28px;
					text-align: center;
				}
				&:not(:first-child) h6::after{
					content: ":";
					position: absolute;
					left: -22px;
					top: calc(50% - 2px);
					transform: translateY(-50%);
				}
			}
		}
	}
	
}
