
@import "sidebar.skeleton";

.wpcf-dashboard-sidebar{
    border: 1px solid var(--wpcf-border-color);
    .wpcf-dashboard-profile{
        padding: 15px 30px 30px;
        border-bottom: 1px solid var(--wpcf-border-color);
        img{
            width: 65px;
            height: 65px;
            border-radius: 50%;
            margin-bottom: 14px;
            display: block;
        }
        h4{
            font-size: 21px;
            margin: 0 0 4px;
            color: var(--wpcf-heading-color);
            font-weight: 400;
        }
        span{
            font-size: 14px;
            color: #adaecf;
            display: block;
        }
    }
    .wpcf-dashboard-permalinks{
        margin: 0;
        padding: 20px 0 0;
        list-style: none;
        font-size: 16px;
        flex-grow: 1;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        > li:nth-last-child(2){
            margin-bottom: 90px;
        }
        > li:last-child{
            margin-top: auto;
            a{
                color: var(--wpcf-primary-color);
            }
        }
        li{
            position: relative;
            a{
                line-height: 30px;
                padding: 10px 30px;
                display: flex;
                align-items: center;
                color: var(--wpcf-primary-text-color);
                text-decoration: none !important;
                span.wpcf-icon{
                    flex: 0 0 20px;
                    text-align: center;
                    font-size: 17px;
                    margin-right: 19px;
                }
                span.wpcf-float-icon{
                    margin-left: auto;
                }
                &:hover{
                    background: #f2f6ff;
                    color: var(--wpcf-primary-color);
                }
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: none;
                li a{
                    padding-left: 63px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
            &.wpcf-collapse {
                > a{
                    color: var(--wpcf-primary-color);
                }
                > ul{
                    display: block;
                }
            }
        }
    }
  }
