.cf-button {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #16192C;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.cf-button-primary {
  background-color: #007D68;
  color: #FFFFFF; }

.cf-button-secondary {
  background-color: #E4F7F4;
  color: #505780; }

.cf-button-danger {
  background-color: #F16063;
  color: #FFFFFF; }

.cf-button + .cf-button {
  margin-left: 10px; }

.cf-form-group {
  margin-bottom: 15px; }
  .cf-form-group .cf-form-label {
    display: block;
    margin-bottom: 8px; }
  .cf-form-group .cf-form-fields {
    margin-bottom: 10px; }
  .cf-form-group .cf-form-help {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    color: #838C9A; }
  .cf-form-group input[type="text"],
  .cf-form-group input[type="email"],
  .cf-form-group input[type="password"],
  .cf-form-group input[type="search"],
  .cf-form-group input[type="url"],
  .cf-form-group input[type="number"],
  .cf-form-group input[type="date"],
  .cf-form-group input[type="phone"],
  .cf-form-group input[type="text"],
  .cf-form-group input[type="text"],
  .cf-form-group input[type="text"],
  .cf-form-group textarea,
  .cf-form-group select {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #16192C;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #E5EBEA;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="email"]::-moz-placeholder, .cf-form-group input[type="password"]::-moz-placeholder, .cf-form-group input[type="search"]::-moz-placeholder, .cf-form-group input[type="url"]::-moz-placeholder, .cf-form-group input[type="number"]::-moz-placeholder, .cf-form-group input[type="date"]::-moz-placeholder, .cf-form-group input[type="phone"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group textarea::-moz-placeholder, .cf-form-group select::-moz-placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="email"]:-ms-input-placeholder, .cf-form-group input[type="password"]:-ms-input-placeholder, .cf-form-group input[type="search"]:-ms-input-placeholder, .cf-form-group input[type="url"]:-ms-input-placeholder, .cf-form-group input[type="number"]:-ms-input-placeholder, .cf-form-group input[type="date"]:-ms-input-placeholder, .cf-form-group input[type="phone"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group textarea:-ms-input-placeholder, .cf-form-group select:-ms-input-placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="email"]::placeholder,
    .cf-form-group input[type="password"]::placeholder,
    .cf-form-group input[type="search"]::placeholder,
    .cf-form-group input[type="url"]::placeholder,
    .cf-form-group input[type="number"]::placeholder,
    .cf-form-group input[type="date"]::placeholder,
    .cf-form-group input[type="phone"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group textarea::placeholder,
    .cf-form-group select::placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="email"]:focus:not(:disabled),
    .cf-form-group input[type="password"]:focus:not(:disabled),
    .cf-form-group input[type="search"]:focus:not(:disabled),
    .cf-form-group input[type="url"]:focus:not(:disabled),
    .cf-form-group input[type="number"]:focus:not(:disabled),
    .cf-form-group input[type="date"]:focus:not(:disabled),
    .cf-form-group input[type="phone"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group textarea:focus:not(:disabled),
    .cf-form-group select:focus:not(:disabled) {
      background-color: #FFFFFF;
      border-color: #007D68;
      outline: 0; }
  .cf-form-group select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 12px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

.cf-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none; }
  .cf-tabs-nav .cf-tab-item {
    color: #fff;
    background-color: #0d6efd;
    background: 0 0;
    border: 0;
    border-radius: .25rem; }

.cf-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none; }
  .cf-tabs-nav .cf-tab-item {
    color: #fff;
    background-color: #0d6efd;
    background: 0 0;
    border: 0;
    border-radius: .25rem; }
