.cf-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box; }

.cf-col {
  flex: 1 0 0%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-1 {
  flex: 0 0 auto;
  width: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-2 {
  flex: 0 0 auto;
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-3 {
  flex: 0 0 auto;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-5 {
  flex: 0 0 auto;
  width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-6 {
  flex: 0 0 auto;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-9 {
  flex: 0 0 auto;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-10 {
  flex: 0 0 auto;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-11 {
  flex: 0 0 auto;
  width: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.cf-col-12 {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

@media (min-width: 576px) {
  .cf-col-sm {
    flex: 1 0 0%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; } }

@media (min-width: 768px) {
  .cf-col-md {
    flex: 1 0 0%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; } }

@media (min-width: 992px) {
  .cf-col-lg {
    flex: 1 0 0%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; } }

@media (min-width: 1200px) {
  .cf-col-xl {
    flex: 1 0 0%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .cf-col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; } }

.cf-button-primary,
.cf-button-secondary,
.cf-button-danger,
.cf-button-outline,
.cf-button-outline-inverse {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #16192C;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.cf-button-primary {
  background-color: #007D68;
  color: #FFFFFF;
  border-color: #007D68; }

.cf-button-secondary {
  background-color: #E4F7F4;
  color: #505780;
  border-color: #E4F7F4; }

.cf-button-danger {
  background-color: #F16063;
  color: #FFFFFF;
  border-color: #F16063; }

.cf-button-outline {
  border-color: #007D68;
  color: #007D68; }

.cf-button-outline-inverse {
  border-color: #FFFFFF;
  color: #FFFFFF; }
  .cf-button-outline-inverse:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #007D68; }

.cf-form-group {
  margin-bottom: 15px; }
  .cf-form-group .cf-form-label {
    display: block;
    margin-bottom: 8px; }
  .cf-form-group .cf-form-fields {
    margin-bottom: 10px; }
  .cf-form-group .cf-form-help {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    color: #838C9A; }
  .cf-form-group input[type="text"],
  .cf-form-group input[type="email"],
  .cf-form-group input[type="password"],
  .cf-form-group input[type="search"],
  .cf-form-group input[type="url"],
  .cf-form-group input[type="number"],
  .cf-form-group input[type="date"],
  .cf-form-group input[type="phone"],
  .cf-form-group input[type="text"],
  .cf-form-group input[type="text"],
  .cf-form-group input[type="text"],
  .cf-form-group textarea,
  .cf-form-group select {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #16192C;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #E5EBEA;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="email"]::-moz-placeholder, .cf-form-group input[type="password"]::-moz-placeholder, .cf-form-group input[type="search"]::-moz-placeholder, .cf-form-group input[type="url"]::-moz-placeholder, .cf-form-group input[type="number"]::-moz-placeholder, .cf-form-group input[type="date"]::-moz-placeholder, .cf-form-group input[type="phone"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group input[type="text"]::-moz-placeholder, .cf-form-group textarea::-moz-placeholder, .cf-form-group select::-moz-placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="email"]:-ms-input-placeholder, .cf-form-group input[type="password"]:-ms-input-placeholder, .cf-form-group input[type="search"]:-ms-input-placeholder, .cf-form-group input[type="url"]:-ms-input-placeholder, .cf-form-group input[type="number"]:-ms-input-placeholder, .cf-form-group input[type="date"]:-ms-input-placeholder, .cf-form-group input[type="phone"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group input[type="text"]:-ms-input-placeholder, .cf-form-group textarea:-ms-input-placeholder, .cf-form-group select:-ms-input-placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="email"]::placeholder,
    .cf-form-group input[type="password"]::placeholder,
    .cf-form-group input[type="search"]::placeholder,
    .cf-form-group input[type="url"]::placeholder,
    .cf-form-group input[type="number"]::placeholder,
    .cf-form-group input[type="date"]::placeholder,
    .cf-form-group input[type="phone"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group input[type="text"]::placeholder,
    .cf-form-group textarea::placeholder,
    .cf-form-group select::placeholder {
      color: #838C9A; }
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="email"]:focus:not(:disabled),
    .cf-form-group input[type="password"]:focus:not(:disabled),
    .cf-form-group input[type="search"]:focus:not(:disabled),
    .cf-form-group input[type="url"]:focus:not(:disabled),
    .cf-form-group input[type="number"]:focus:not(:disabled),
    .cf-form-group input[type="date"]:focus:not(:disabled),
    .cf-form-group input[type="phone"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group input[type="text"]:focus:not(:disabled),
    .cf-form-group textarea:focus:not(:disabled),
    .cf-form-group select:focus:not(:disabled) {
      background-color: #FFFFFF;
      border-color: #007D68;
      outline: 0; }
    .cf-form-group input[type="text"][disabled], .cf-form-group input[type="text"][readonly],
    .cf-form-group input[type="email"][disabled],
    .cf-form-group input[type="email"][readonly],
    .cf-form-group input[type="password"][disabled],
    .cf-form-group input[type="password"][readonly],
    .cf-form-group input[type="search"][disabled],
    .cf-form-group input[type="search"][readonly],
    .cf-form-group input[type="url"][disabled],
    .cf-form-group input[type="url"][readonly],
    .cf-form-group input[type="number"][disabled],
    .cf-form-group input[type="number"][readonly],
    .cf-form-group input[type="date"][disabled],
    .cf-form-group input[type="date"][readonly],
    .cf-form-group input[type="phone"][disabled],
    .cf-form-group input[type="phone"][readonly],
    .cf-form-group input[type="text"][disabled],
    .cf-form-group input[type="text"][readonly],
    .cf-form-group input[type="text"][disabled],
    .cf-form-group input[type="text"][readonly],
    .cf-form-group input[type="text"][disabled],
    .cf-form-group input[type="text"][readonly],
    .cf-form-group textarea[disabled],
    .cf-form-group textarea[readonly],
    .cf-form-group select[disabled],
    .cf-form-group select[readonly] {
      border-color: #e9ecef;
      background-color: #e9ecef; }
  .cf-form-group select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 12px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

.cf-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none; }
  .cf-tabs-nav .cf-tab-item {
    color: #fff;
    background-color: #0d6efd;
    background: 0 0;
    border: 0;
    border-radius: .25rem; }

.cf-card {
  background-color: #FFFFFF;
  border: 1px solid #E5EBEA;
  padding: 20px;
  border-radius: 6px;
  position: relative; }
  .cf-card .cf-card-thumbnail {
    margin: -20px -20px 0px -20px;
    border-radius: 6px 6px 0 0;
    position: relative; }
    .cf-card .cf-card-thumbnail img {
      width: 100%;
      height: auto;
      border-radius: 6px 6px 0 0; }
    .cf-card .cf-card-thumbnail .cf-card-overlay {
      border-radius: 6px 6px 0 0; }
  .cf-card .cf-card-body {
    padding-top: 20px; }
  .cf-card .cf-card-divider {
    margin: 20px -20px;
    display: block;
    height: 1px;
    background-color: #E5EBEA; }
  .cf-card .cf-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 125, 104, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity .15s ease-in-out; }
  .cf-card:hover .cf-card-overlay {
    opacity: 1; }

.cf-card + .cf-card {
  margin-top: 20px; }

.cf-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none; }
  .cf-tabs-nav .cf-tab-item {
    color: #fff;
    background-color: #0d6efd;
    background: 0 0;
    border: 0;
    border-radius: .25rem; }

.cf-progress {
  display: flex;
  height: 6px;
  background-color: #EBF5F5;
  border-radius: 10px;
  position: relative; }

.cf-progress-bar {
  position: absolute;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #007D68;
  border-radius: 10px; }

.cf-text-body {
  color: #16192C; }
  .cf-text-body svg {
    fill: #16192C; }

.cf-text-lighter {
  color: #425466; }
  .cf-text-lighter svg {
    fill: #425466; }

.cf-text-muted {
  color: #838C9A; }
  .cf-text-muted svg {
    fill: #838C9A; }

.cf-text-gray-200 {
  color: #EBF5F5; }
  .cf-text-gray-200 svg {
    fill: #EBF5F5; }

.cf-text-gray-300 {
  color: #E2E8F0; }
  .cf-text-gray-300 svg {
    fill: #E2E8F0; }

.cf-text-gray-600 {
  color: #808896; }
  .cf-text-gray-600 svg {
    fill: #808896; }

.cf-svg-icon {
  display: inline-block; }

.cf-fw-normal {
  font-weight: normal; }

.cf-fw-bolder {
  font-weight: bolder; }

.cf-fw-bold {
  font-weight: bold; }
