/*
 * Crowdfunding CSS
 * File Description: The main stylesheet of this plugins for main design part.
 */
#addreward, #addcampaignupdate{
    float: right;
    position: relative;
    margin: 25px 25px 25px 0px;
}
.reward_group{
    border-bottom: 1px solid #F3EDED;
}
.removeCampaignRewards, .removecampaignupdate{
    position: relative;
    float: right;
    top: -38px;
    right: 10px;
}
/** Seelct2 */
.select2-container.select2.wpneo_country {
    min-width: 200px;
}
#wpneo_crowdfunding_overview .wpneo_d_status_list{
    overflow: hidden;
    margin: 0;
}
#wpneo_crowdfunding_overview .wpneo_d_status_list li {
    border-top: 1px solid #ececec;
    box-sizing: border-box;
    color: #aaa;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
#wpneo_crowdfunding_overview .wpneo_d_status_list li:first-child , #wpneo_crowdfunding_overview .wpneo_d_status_list li:nth-child(2){
     border-top: none;
 }
#wpneo_crowdfunding_overview .wpneo_d_status_list li span strong, #wpneo_crowdfunding_overview .wpneo_d_status_list li span.amount {
    color: #21759b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 0;
    display: block;
}
#wpneo_crowdfunding_overview .wpneo_d_status_list li span{
    color: #aaa;
    display: block;
    font-size: 12px;
    padding: 6px 10px;
    position: relative;
}
.form-table input[type="text"],
.form-table textarea{
    width: 400px;
}
.form-table textarea{
    height: 150px;
}
.wpneo-image-container{
    position: relative;
}
.wpneo-image-container img{
    margin-right: 10px;
}
.wpneo-image-remove{
    position: absolute;
    left: 80px;
    margin-top: 4px;
    font-size: 10px;
    color: #fff;
    padding: 3px 4px 5px 5px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    line-height: 6px;
    background-color: #ff0000;
    cursor: pointer;
}
.wpneo-image-upload-btn{
    background-color: #0073aa;
    border: none;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
    cursor: pointer;
}
.button.removeCampaignRewards{
    color: #ff0000;
}

/* ***** Buy Now ***** */
.wpneo-premium h2{
    font-size: 30px;
    line-height: 42px;
}
.wpneo-premium p{
    font-size: 18px;
    margin-bottom: 30px;
}

.dashicons-star-filled{
    color: #ef5e25;
    margin-top: -3px;
}
.wpneo-premium ul li{
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.wpneo-premium ul li span{
    color: #000;
    font-weight: bold;
}
.wpneo-premium ul li:before{
    color: #77b227;
    font-size: 30px;
    margin-top: -5px;
    margin-right: 20px;
}
.wpneo-premium h2 span{
    color: #ef5e25;
}
.wpneo-premium .wpneo-buynow{
    background-color: #ef5e25;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 26px;
    display: inline-block;
}
.button.wpneo-crowdfunding-reset-btn i {
    line-height: 25px;
}
.button.wpneo-crowdfunding-reset-btn {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}
.multiple-selector{
    height: 190px;
}
.label-default,
.label-primary,
.label-success,
.label-info,
.label-warning,
.label-danger{
    color: #ffffff;
    display: inline-block;
    padding: .4em .8em .4em;
    font-size: 90%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    border: none;
    margin: 2px;
}
.label-default{ background-color: #777; }
.label-primary{ background-color: #337ab7; }
.label-success{ background-color: #5cb85c; }
.label-info{ background-color: #5bc0de; }
.label-warning{ background-color: #f0ad4e; }
.label-danger{ background-color: #d9534f; }

.widefat td,
.widefat th {
    padding: 6px 10px;
}
h1.top-reports{
    margin-top: 40px;
}

.campaign-warp .page-title-action{
    margin: 10px 10px 10px 0px;
    padding: 7px 13px;
    display: inline-block;
}
.campaign-warp form{
    margin: 12px 0px 24px;
}
.campaign-warp input{
    margin: 0px 8px 0px 0px !important;
    padding: 5px 5px;
}
.button-default{
    text-decoration: none;
    padding: 6px 20px;
    display: inline-block;
    margin-top: 10px;
    background-color: #337ab7;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
}



.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/**
@Since 10.30.1
@date: May 18, 2018
 */
.campaign_update_field_copy {
    margin: 10px 0;
    background: #F0F0F0;
    padding: 30px 20px;
}
.wpcf-campaign-update-btn-wrap {
    clear: both;
    margin-top: 50px;
}
table.wp-list-table .column-campaign_owner {
    width: 80px;
}


/* Search Block CSS */
.wpcf-form-field.full input.search-field {
    width: 79%;
}
.wpcf-form-field.full button {
    width: 20%;
}
.wpcf-form-field.medium input.search-field {
    width: 35%;
}
.wpcf-form-field.medium button {
    width: 15%;
}
.wpcf-form-field input.search-field {
    height: 44px;
}
.wpcf-form-field button {
    border: none;
    color: #fff;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 4px;
    height: 44px;
}
.components-base-control__label {
    display: inline-block;
    margin-bottom: 4px;
}

/* Donate Block */
.wpcf-form-field.full .wpcf-donate-form-wrap input.search-field {
    width: 69%;
}
.wpcf-form-field.full .wpcf-donate-form-wrap button {
    width: 30%;
}
.wpcf-form-field.medium .wpcf-donate-form-wrap input.search-field {
    width: 28%;
}
.wpcf-form-field.medium .wpcf-donate-form-wrap button {
    width: 21%;
}

/* Product Listing */
.wpneo-wrapper-inner {
    display: inline-block;
}
.wpneo-listings.two.col-2 {
    width: 50%;
}
.wpneo-listings.two.col-3 {
    width: 33.33%;
}
.wpneo-listings.two.col-4 {
    width: 25%;
}
.wpneo-listings {
    float: left;
    padding: 0px 1%;
}
.wpneo-listing-img {
    position: relative;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: #e9e9e9;
}

/* Project Listing Block */
.wpneo-listing-img {
    width: 100%;
    font-size: 0;
}
.wpneo-listing-content a {
    text-decoration: underline;
}
.wpneo-listings .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}
.wpneo-listings:hover .overlay {
    opacity: 1;
}

/*------------------------------
-------- Listing Page ----------
--------------------------------*/
.wpneo-listings{
    float: left;
    padding: 0px 1%;
}
.wpneo-listings.two{
    width: 50%;
}
.wpneo-listings.three{
    width: 33.33%;
}
.wpneo-listings.four{
    width: 25%;
}
.wpneo-listings.first{
    padding-left: 0px;
}
.wpneo-listings.last{
    padding-right: 0px;
}
.wpneo-listings.first{
    clear: both;
}
.wpneo-listings:hover .overlay {
    opacity: 1;
}
.wpneo-listings .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}
.wpneo-listing-img{
    position: relative;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: #e9e9e9;
}
.wpneo-listings .overlay>div {
    display: table;
    height: 100%;
    width: 100%;
}
.wpneo-listings .overlay>div>div {
    display: table-cell;
    vertical-align: middle;
}
.wpneo-listings:hover .overlay a {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.wpneo-listings .overlay a {
    color: #fff;
    font-size: 16px;
    padding: 12px 15px;
    display: inline-block;
    line-height: 1;
    border: 2px solid #fff;
    border-radius: 4px;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.wpneo-listings .wpneo-listing-content{
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #e9e9e9;
    background: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-bottom: 30px;
}
.wpneo-listings .wpneo-listing-content:hover{
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.07);
}
.wpneo-listings .wpneo-listing-content h4{
    margin: 0;
    padding: 8px 20px;
}
.wpneo-listings .wpneo-listing-content h4 a{
    color: #000;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    box-shadow: none;
    text-decoration: none;
    letter-spacing: normal;
    text-transform: capitalize;
    display: inline-block;
}
.wpneo-listings .wpneo-listing-content p.wpneo-author{
    color: #737373;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 8px 20px;
}
.wpneo-listings .wpneo-listing-content .wpneo-author a{
    color: #737373;
    text-decoration: none;
    box-shadow: none;
}
.wpneo-listings .wpneo-listing-content .wpneo-author a:hover{
    color: #444;
}
.wpneo-listings .wpneo-listing-content .woocommerce{
    float: left;
    color: #ffcc00;
    padding: 20px 20px 8px;
}
.wpneo-listings .wpneo-listing-content .woocommerce:empty {
    display: none;
}
.wpneo-campaign-summary-inner .woocommerce{
    float: left;
    color: #ffcc00;
    padding: 12px 0px 15px;
    width: 100%;
    letter-spacing: 4px;
}
.wpneo-campaign-summary-inner .woocommerce .star-rating{
    float: left;
    width: 100px;
}
.wpneo-campaign-summary-inner .woocommerce .star-rating:before{
    color: #ffcc00;
    letter-spacing: 4px;
}
.wpneo-listings .wpneo-listing-content .woocommerce .star-rating:before{
    color: #ffcc00;
    letter-spacing: 4px;
}
.wpneo-listings .woocommerce .star-rating span:before{
    letter-spacing: 4px;
}
.wpneo-listings .wpneo-listing-content .woocommerce .star-rating{
    width: 6.4em;
}
.wpneo-listing-content p.wpneo-short-description{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 20px 30px;
}

.wpneo-location{
    padding: 8px 20px;
}
.wpneo-location .wpneo-meta-name,
.wpneo-location .wpneo-meta-desc{
    color: #000;
    font-size: 16px;
    display: inline-block;
}
.wpneo-icon{
    background-attachment: initial;
    background-image: url("./icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 27px;
    width: 26px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.wpneo-icon-location{
    background-position: -401px -11px;
}
.wpneo-icon-facebook{ background-position: -28px -14px; }
.wpneo-icon-twitter{ background-position: -75px -14px; }
.wpneo-icon-gplus{ background-position: -122px -14px; }
.wpneo-icon-pinterest{ background-position: -169px -14px; }
.wpneo-icon-linkedin{ background-position: -588px -14px; }
.wpneo-icon-tumblr{ background-position: -672px -14px; }
.wpneo-icon-blogger{ background-position: -718px -14px; }
.wpneo-icon-delicious{ background-position: -765px -14px; }
.wpneo-icon-digg{ background-position: -812px -14px; }
.wpneo-icon-reddit{ background-position: -991px -14px; }
.wpneo-icon-stumbleupon{ background-position: -860px -14px; }
.wpneo-icon-pocket{ background-position: -904px -14px; }
.wpneo-icon-wordpress{ background-position: -948px -14px; }
.wpneo-icon-whatsapp{ background-position: -1035px -14px; }
.wpneo-icon-embed { background-position: -624px -15px; }
.wpneo-raised-percent{
    border-top: 1px solid #e9e9e9;
    padding: 20px 0 5px;
}
.wpneo-campaign-summary .wpneo-raised-percent{
    border-top: none;
    padding: 0;
}
.wpneo-icon-love-full{
    background-position: -287px -9px;
    width: 40px;
    height: 40px;
}
.wpneo-icon-love-empty{
    background-position: -344px -9px;
    width: 40px;
    height: 40px;
}
.wpneo-raised-percent .wpneo-meta-name,
.wpneo-raised-percent .wpneo-meta-desc{
    display: inline-block;
    padding-left: 20px;
}
.wpneo-raised-percent .wpneo-meta-desc{
    font-weight: bold;
}
.wpneo-raised-bar{
    padding: 5px 20px;
    margin: 10px 0 20px;
}
.wpneo-funding-goal,
.wpneo-fund-raised,
.wpneo-time-remaining{
    width: 33%;
    padding: 15px 0px;
    display: inline-block;
}
.wpneo-funding-goal .wpneo-meta-name,
.wpneo-fund-raised .wpneo-meta-name,
.wpneo-time-remaining .wpneo-meta-name{
    font-size: 12px;
}
.wpneo-funding-goal .wpneo-meta-desc,
.wpneo-fund-raised .wpneo-meta-desc,
.wpneo-time-remaining .wpneo-meta-desc{
    font-size: 16px;
    font-weight: bold;
}
.wpneo-fund-raised,
.wpneo-time-remaining{
    float: right;
}
.wpneo-funding-data{
    padding: 0px 20px;
}

/*
* Custom Responsive Media Query
*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wpneo-listings.two,
    .wpneo-listings.three,
    .wpneo-listings.four{
        width: 50%;
        padding: 0px 1%;
    }
    .wpneo-listings.last,
    .wpneo-listings.first{
        padding: 0px 1%;
    }
    .wpneo-listings.two:nth-child(3n),
    .wpneo-listings.three:nth-child(3n),
    .wpneo-listings.four:nth-child(3n){
        clear: both;
        padding-left: 0px;
    }
    .wpneo-listings.two.first,
    .wpneo-listings.three.first,
    .wpneo-listings.four.first{
        clear: none;
    }
}


